node_modules/
.env
.env.local
.env.development
.env.production
.env.test
!.env.example
.DS_Store
npm-debug.log*
ios/App/build/
ios/App/Pods/
ios/App/App.xcodeproj/project.xcworkspace/
ios/App/App.xcodeproj/xcuserdata/
ios/App/App.xcworkspace/xcuserdata/
public/trovelr-icon.svg
public/trovelr-logo-text.svg
public/trovelr-logo.svg
